extends layout

block content

    .header
        .top
            a(href="/") Go Back
            h2 Add a new message to the board

        form(action="/new" , method="POST")
            .input-wrapper
                label(for="name") Please type a name : 
                input(type="text" id="name" name="author")

            .input-wrapper
                label(for="message") Type a message : 
                textarea(name="content" cols="30" rows="10" required="true")

            button(type="submit") Submit