extends layout

block content

    a(href="/") Go Back

    h1 Add a new message

    form(action="/new" , method="POST")

        div
            label(for="name") Please type a name : 
            input(type="text", id="name" name="authorName")
        
        div
            label(for="message") Add a message : 
            input(type="text", id="message" name="message")
        
        button(type="submit") Submit