doctype html
html
  head
    title= "Swift Connect!"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Google tag (gtag.js)
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-F6SGEKC8M6")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-F6SGEKC8M6');
  body
    h1 Swift Connect!

    .wrapper
      block content
